*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  min-height: 80px;
  width: 100%;
  background-color: white;
}

.debug{
  background-color: rgba(0, 0, 255, 0.2);
}



.container{
  margin: 0 auto;
  max-width: 1900px;
}

header div{
  justify-content: space-between;
}

.d-flex{
  display: flex;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  text-align: center;
  margin: 0 20px;
}

nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;

}


img{
  vertical-align: middle;
}

nav ul{
  list-style: none;
}

#inizia{
  background-color: rgb(0, 0, 255);
  line-height: 20px;
  padding: 4px 14px;
  color: white;
}